<!DOCTYPE html>
<html lang="ja">
<head>
  <%
  var values = {
    title: 'Yuta Wakaida - AU design',
    desc: 'AU株式会社 若井田祐太',
  };
  %>
  <%- include(rootPath + 'ejs/common/_head', {meta : values}) %>
<body>
  <p class="u-ta-c">test</p>

  <script type="text/javascript" src="<%= rootPath %>js/mainNormal.min.js"></script>
</body>
</html>
