<!DOCTYPE html>
<html lang="en">
<%
var values = {
  title: 'Test',
  desc: 'test',
  rootPath: '.'
};
%>
<%- include(values.rootPath + '/common/_head', {meta : values}) %>

<body>
  test

  <script type="text/javascript" src="./js/mainNormal.min.js"></script>
</body>
</html>
